<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	
	
	<import resource="projectmanagement-datasource.xml"/>
	
	<bean autowire="byName" class="in.codertechnologies.serviceImpl.ProjectServiceImpl">
	<property name="projectDaoImpl" ref="projectDao"></property>
	</bean>

</beans>		